<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Score</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents | filterFacet:filterBy; let i = index">
        <td>{{i+1}}</td>
        <td>{{document.title}}</td>
        <td>
          <div *ngIf="highlighting[document.id].description; else normalDesc" [innerHTML]="highlighting[document.id].description[0]">
          </div>
          <ng-template #normalDesc>
            {{document.description || 'Descripción disponible en:'}}
            <a *ngIf="!document.description" [href]="document.id" target="_blank">{{document.id}}</a>
          </ng-template>
        </td>
        <td>{{document.score}}</td>
        <td>
          <a [href]="document.id" target="_blank" class="btn btn-primary btn-sm">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
